#footer {
    background-color: #222;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 40px;
    margin-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    margin-right: 0;
    margin-right: 0;
    color: white;
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#footer * {
    display: inline;
    float: none;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}