{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Monster Crookie</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('main.index')}}">Home</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        {% for post in posts %}



        <div class="col-md-3 mt-5">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1588681664899-f142ff2dc9b1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-title">{{post.title}}</a>
                    <p class="card-text">
                        {{post.body }}
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated {{post.created_at }}</small></p>
                    <p class="card-text"><small class="text-muted">Created by updated {{post.user.name }}</small></p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content%}